<app-page-not-found [visible]="!food"  notFoundMessage="No Items Available" resetLinkText="Go To Home"></app-page-not-found>

<div class="container" *ngIf="food">
    <img [src]="food.imageurl" [alt]="food.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{food.favourite ? '' :'not'}}">♥</span>
        </div>
        <div class="rating">

        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">{{origin}}</span>
        </div>
        <div class="tags">
            <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
        </div>
        <div class="cooktime">
            <span>Time To Cook <strong>{{food.cooktime}}</strong>Minutes</span>
        </div>
        <div class="price">
            <span>
                {{food.price | currency}}
            </span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>